@forward "./constants";

body {
  margin: 0;
  font-family: IRANSansXFaNum, sans-serif;
  direction: rtl;
}
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box !important;
}

.ant-table-wrapper,
.ant-table-column-title,
.ant-table-cell,
.ant-breadcrumb,
.ant-btn,
.ant-modal-content,
.ant-tabs-tab,
.ant-select-selection-search-input,
.ant-form-item-label,
.ant-select-item-option-content,
.ant-form-item-explain-error
{
  font-family: IRANSansXFaNum !important;
}
.ant-pagination{
  direction: ltr;
}
.d-flex{
  display: flex;
}
.justify-end{
  justify-content: flex-end;
}
.ant-table-wrapper{
  width: 100%;
}

.ant-tabs-nav::before{
  border-bottom: 1px solid transparent !important;
}
.ant-tabs-tab-active{
  background-color: #2b2be7 !important;
  span{
    color: #fff !important;
  }
}
.ant-tabs .ant-tabs-tab {
  margin-top: 20px !important;
  margin-left: 5px !important;
  padding: 5px 10px;
  border: 1px solid #d9d9d9;
  border-radius: 5px;
  text-align: center;
}
